body{

margin:0;

font-family:Arial,sans-serif;

background:#0F172A;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

width:700px;

text-align:center;

}

#reader{

margin:auto;

width:450px;

border-radius:15px;

overflow:hidden;

}

#resultCard{

margin-top:30px;

background:#1E293B;

padding:25px;

border-radius:15px;

box-shadow:0 0 20px rgba(0,0,0,.3);

}

.hidden{

display:none;

}

.success{

color:#22C55E;

font-size:28px;

}

.error{

color:#EF4444;

font-size:28px;

}